/* Navbar */
.navbar {
    background-color: #fffae891;
    backdrop-filter: blur(4px);
    
}

.navbar a {
    color: #C07F00;
}

.navbar .navbar-nav .nav-link.active {
    font-weight: 700;
    color: #C07F00;
}

.navbar-brand {
    color: #C07F00;
    font-family: 'tangerine', cursive;
    font-size: 2rem;
    font-weight: 700;
    height: 2rem;
    display: flex;
    align-items: center;
}
/* Carousel Hero */
.c-item {
    height: 730px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
margin-bottom: 10rem;
}

.carousel-caption h1 {
    font-size: 3rem;
    font-weight: 700;
    
}

.carousel-caption a {
    background-color: #d89000;
    color: #fff;
    font-weight: 500;
    }

.carousel-caption a:hover {
    background-color: #C07F00;
    color: #fff;
   
}

.carousel-caption .caption-1 {
    text-shadow: 2px 2px 10px #392600;
    color: #ffffff;
    font-weight: 700;
}

.carousel-caption .caption-2 {
    text-shadow: 2px 2px 10px #392600;
    color: #ffefd0;
    font-weight: 700;
}

.carousel-caption h2 {
    text-shadow: 2px 2px 10px #392600;
    color: #ffffff;
    font-weight: 700;
}

.carousel-caption .caption-2 {
    color: #fff;
}

/* Services */

.services {
    padding-top: 4rem;
}

.services h2 {
    font-size: 2rem;
    color: #C07F00;
    font-weight: 500;
    padding-bottom: 2rem;
}

.card {
    border-radius: 20px;
    margin-top: 2rem;
    object-fit: cover;
}

.card-title {
    color: #C07F00;
    font-weight: 700;
}
.card-text {
    color: #714b00;
}

.card a {
    color: #fff;
    font-weight: 700;
    background-color: #C07F00;
}
.card a {
    color: #fff;
    font-weight: 700;
    background-color: #C07F00;
}
.card a:hover {
    color: #fff;
    font-weight: 700;
    background-color: #916000;
}